<template>
<v-content>
      <v-container
        class="fill-height login-container"
        fluid
      >
        <v-row
        style="display: flex; justify-content: center; align-items: center;"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="#0a0c1d"
                light
                class="toolbar-login"
              >
                <v-img 
                src="http://3.132.193.166/assets/img/logo-bk.png"
                class="img-logo mt-5"
                ></v-img>
              </v-toolbar>
            <hr>
              <!-- <v-card-title justify="center" class="text-uppercase">Gestão de Terceiros</v-card-title> -->

              <v-card-text
                class="mt-5"
                light
              >
                <v-form v-model="valid">
                  <v-text-field
                  outlined

                    type="text"
                    name="login"
                    label="Usuário"
                    color="#0a0c1d"
                    v-model="username"
                    :rules="rules.username"
                  />

                  <v-text-field
                  outlined
                    id="password"
                    label="Senha"
                    name="password"
                    type="password"
                    color="#0a0c1d"
                    v-model="password"
                    :rules="rules.password"
                  />
                  <p >
                    <a class="esqueceu-senha">Esqueceu sua senha?</a>
                </p>

                   <v-row align="center">
                    <v-col class="text-center" cols="12">
                        <v-btn raised large color="#0a0c1d" class="text-center" @click="Logar()">
                            <span class="login">Entrar</span>
                        </v-btn>
                    </v-col>
                </v-row>
                </v-form>
                
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
</template>

<script>
  import http from "./http";
  export default {
    name: "Login",
    data: () => ({
      username: '',
      passwarod: '',
      rules: {

      username: [
        v => !!v || 'Insira seu usuário',
        v => v.length <= 8 || 'Mínimo de caracteres 8',
      ],
      password: [
        v => !!v || 'Insira sua senha',
      ],

      }
    }),
    methods: {
        logar()
        {
            if (this.username == '' && this.passwarod == '')
            {
              return false;
            }
            else
            {
              this.http.post('', {}).then(() => {
                this.users = result.data
              })
            }

          
        }
    },
    created () {
        console.log('entrou')
    },
  }
</script>
<style scoped>
    .color-title-login
    {
        color: white;
    }
    .toolbar-login
    {
        display: flex;
        justify-content: center;
        height: 80px !important;
    }
    .img-logo
    {
        max-width: 200px;
        max-height: 150px;
    }
    .login
    {
        color: white;
    }
    .login-container
    {
        background-image: url('http://3.132.193.166/assets/img/fundo-bk.jpg');
    }
    .esqueceu-senha
    {
         color: #0a0c1d;
    }
    >>>.v-card__title
    {
        justify-content: center;
    }
    .row
    {
        margin-left: 0px;
    }
</style>